body{
    background-image: url("http://res.cloudinary.com/andhikasm/image/upload/v1472730241/earth-1272884_1920_pw3mcj.jpg");
    background-size: cover;
}

h1{
    color:aliceblue;
}
/* By Andhika Srimadeva */